{% load static %}
{% include "header.html" %}
<div>
    <!-- <div>
        <img src="/cameraOn/" id="qrImage" class="col-4 "
        style="height: 20rem; margin-top: 10rem; margin-left: 2rem; height: 30rem;"> 
    </div> -->

    <div class="container">
        <h1 class="fashion_taital">Camera Section</h1>
        <div class="fashion_section_2">
           <div class="row">
              <div class="col-lg-4 col-sm-4">
                 <div class="box_main">
                    <div class="tshirt_img"><img src="/cameraOn/" id="qrImage"  style="height: 28rem;"></div>
                 </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                 <div class="box_main">
                    <h4 class="shirt_text" id="item_name"></h4>
                    <p class="price_text">Price  <span id="price" style="color: #262626;">ddd</span></p>
                    <div class="tshirt_img"><img src="" id="image_item"></div>
                    <div class="btn_main">
                       <div class="buy_bt" id="add_to_cart"><a href="#">Buy Now</a></div>
                       <!-- <div class="seemore_bt"><a href="#">See More</a></div> -->
                    </div>
                 </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                 <div class="box_main">
                    <h4 class="shirt_text">Total Amount</h4>
                    <div id="item_section">
                     <p class="price_text" > <span style="color: #262626;"> </span></p>
                    </div>
                    <p class="price_text" >Price  <span style="color: #262626;" id="total_price">  30</span></p>
                    
                    <!-- <div class="btn_main">
                       <div class="buy_bt"><a href="#">Buy Now</a></div>
                       <div class="seemore_bt"><a href="#">See More</a></div>
                    </div> -->
                 </div>
              </div>
           </div>
        </div>
     </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    window.addEventListener("beforeunload", function(event){
        $.ajax({
                type : 'GET',
                url: '/offCamera/',
                data : {},
                success: function(response)  {
                  alert(response.res);
                },
                error : function (xhr, errmsg, err)  {
                    console.error(response);
                }
            });
        return ''
    });


    const item_name = document.getElementById("item_name")
    const price = document.getElementById("price")
    const image = document.getElementById("image_item")

    function displayScannedItem(){
        $.ajax({
            type : 'GET',
            url : '/updateScanned/',
            success : function(response){
                // add to inner html
                item_name.innerHTML = response.name;
                price.innerHTML = response.price;
                image.src = response.img;


            },
            error : function (xhr, errmsg, err)  {
                console.error(response);
            }

        });
   }

   setInterval(displayScannedItem, 2000);

   const  add_to_cart = document.getElementById("add_to_cart");
   const item_section = document.getElementById("item_section")
   const total_price = document.getElementById("total_price")
   var sum = 0

   // Add a click event listener
   add_to_cart.addEventListener("click", function() {
      // Your click event handler code here
      $.ajax({
            type : 'GET',
            url : '/addToCart/',
            success : function(response){
                // add to inner html
                var htmlContent = "<p class=\"price_text\" >"+ response.item_name +" <span style=\"color: #262626;\">" + response.prize + "</span></p>"
                sum += parseInt(response.prize)
                console.log(response.item_name)
                item_section.innerHTML += htmlContent
                total_price.innerHTML = sum

            },
            error : function (xhr, errmsg, err)  {
                console.error(response);
            }

        });
      
   });


</script>